<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dygstudio.epsms.service.mapper.DictInfoMapper">
    <select id="findByValue"  resultType="DictInfo">
        select * from DictInfo p where p.value=#{value}
    </select>
    <select id="findByParentId"  resultType="DictInfo">
        select * from DictInfo p where p.parentId=#{value}
    </select>
    <select id="findByTopObject" resultMap="ObjectAndChildMap">
        select * from DictInfo p where p.parentId is null
    </select>
    <select id="findObjectAndChildByValue" resultMap="ObjectAndChildMap" parameterType="String">
        select * from DictInfo p where p.value=#{value}
    </select>
    <resultMap id="ObjectAndChildMap" type="DictInfo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parentId"/>
        <result property="value" column="value"/>
        <collection property="childs" ofType="DictInfo" column="id"
                    select="com.dygstudio.epsms.service.mapper.DictInfoMapper.findByParentId"/>
    </resultMap>
</mapper>