<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dygstudio.epsms.service.mapper.RoleMapper">
    <select id="findRolsById" resultMap="RolesResultMap" parameterType="String">
        SELECT * FROM Role WHERE id=#{roleId}
    </select>
    <insert id="insertRoleFunctionLink" parameterType="Map">
        insert into FuncRoleLink(id,RoleId,FuncId)value(#{id},#{roleId},#{functionId})
    </insert>
    <delete id="deleteRoleFuncionLinkByRoleId" parameterType="String">
        delete from FuncRoleLink where RoleId = #{roldId}
    </delete>
    <select id="findRolesByUserId" parameterType="String"  resultType="Role">
        SELECT r.* FROM Role r,UserRoleLink urlink
        WHERE r.Id=urlink.roleId
        AND urlink.UserId=#{id}
    </select>
    <select id="findAllRoleForShow" resultMap="RolesResultMap">
        select * from Role
    </select>
    <resultMap id="RolesResultMap" type="Role">
        <id property="id" column="id"/>
        <result property="roleName" column="roleName"/>
        <association property="opUserVo" column="opUserId" select="com.dygstudio.epsms.service.mapper.UserMapper.selectById"
                     javaType="User" />
        <association property="statusVo" column="status" select="com.dygstudio.epsms.service.mapper.DictInfoMapper.findByValue"
                     javaType="DictInfo" />
        <collection property="functions" ofType="com.dygstudio.epsms.service.entity.Function"
                    column="id" select="com.dygstudio.epsms.service.mapper.FunctionMapper.getFunctionByRoleId"/>
    </resultMap>
</mapper>